{% extends "base.html" %}

{% block content %}


<!-- Header -->
<!--<div id="header" class="col-md-12">
  <div class="col-md-1"></div>
  <div class="col-md-10 text-center">
    <br><br><br><br><br>
    <h3>Docs</h3>
    <br><br><br><br><br>
  </div>
  <div class="col-md-1"></div>
</div>-->


<div class="col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-left">
    <h4>How do you want to spend your time?</h4>
    <p>You'll spend half your waking life at work ... so what <i>things</i> do you want to be doing all day?</p>
  </div>
  <div class="col-md-2"></div>
</div>


{% endblock %}